CREATE TABLE IF NOT EXISTS "__EFMigrationsLock" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK___EFMigrationsLock" PRIMARY KEY,

    "Timestamp" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (

    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,

    "ProductVersion" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "Usuarios" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Usuarios" PRIMARY KEY AUTOINCREMENT,

    "Nome" TEXT NULL,

    "Email" TEXT NULL,

    "SenhaHash" TEXT NULL

, "RefreshToken" TEXT NULL, "RefreshTokenExpiracao" TEXT NOT NULL DEFAULT '0001-01-01 00:00:00', "Role" TEXT NOT NULL DEFAULT '', "Login" TEXT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "Tarefas" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Tarefas" PRIMARY KEY AUTOINCREMENT,

    "descricao" TEXT NULL,

    "usuarioDestino" TEXT NULL,

    "dataCriacao" TEXT NOT NULL,

    "dataExecucao" TEXT NOT NULL,

    "feedback" TEXT NULL,

    "usuarioOrigem" TEXT NULL,

    "status" TEXT NULL,

    "observacao" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Convenios" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Convenios" PRIMARY KEY AUTOINCREMENT,

    "Categoria" TEXT NULL,

    "ConvenioNome" TEXT NULL,

    "Cpf" TEXT NULL,

    "DataAdmissao" TEXT NULL,

    "DataAtualizacao" TEXT NOT NULL,

    "DataDemissao" TEXT NULL,

    "Funcao" TEXT NULL,

    "Matricula" TEXT NULL,

    "MunicipioLotacao" TEXT NULL,

    "Nome" TEXT NULL,

    "PostoTrabalho" TEXT NULL,

    "Sexo" TEXT NULL,

    "Situacao" TEXT NULL,

    "Usuario" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Documentos" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Documentos" PRIMARY KEY AUTOINCREMENT,

    "Documento" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Ocorrencias" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Ocorrencias" PRIMARY KEY AUTOINCREMENT,

    "Ocorrencia" TEXT NULL

, "DocumentoId" INTEGER NOT NULL DEFAULT 0);
CREATE TABLE IF NOT EXISTS "RegistroOcorrencias" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_RegistroOcorrencias" PRIMARY KEY AUTOINCREMENT,

    "Descricao" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Conferencias" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Conferencias" PRIMARY KEY AUTOINCREMENT,

    "ConvenioId" INTEGER NOT NULL,

    "DataAtualizacao" TEXT NOT NULL,

    "DataRetorno" TEXT NOT NULL,

    "DocumentoId" INTEGER NOT NULL,

    "LinkOcorrencia" TEXT NULL,

    "OcorrenciaId" INTEGER NOT NULL,

    "RegistroOcorrenciasId" INTEGER NOT NULL,

    "Status" TEXT NULL,

    "Usuario" TEXT NULL, "ConvenioNome" TEXT NULL,

    CONSTRAINT "FK_Conferencias_Convenios_ConvenioId" FOREIGN KEY ("ConvenioId") REFERENCES "Convenios" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_Conferencias_Documentos_DocumentoId" FOREIGN KEY ("DocumentoId") REFERENCES "Documentos" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_Conferencias_Ocorrencias_OcorrenciaId" FOREIGN KEY ("OcorrenciaId") REFERENCES "Ocorrencias" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_Conferencias_RegistroOcorrencias_RegistroOcorrenciasId" FOREIGN KEY ("RegistroOcorrenciasId") REFERENCES "RegistroOcorrencias" ("Id") ON DELETE CASCADE

);
CREATE INDEX "IX_Conferencias_ConvenioId" ON "Conferencias" ("ConvenioId");
CREATE INDEX "IX_Conferencias_DocumentoId" ON "Conferencias" ("DocumentoId");
CREATE INDEX "IX_Conferencias_OcorrenciaId" ON "Conferencias" ("OcorrenciaId");
CREATE INDEX "IX_Conferencias_RegistroOcorrenciasId" ON "Conferencias" ("RegistroOcorrenciasId");
CREATE TABLE IF NOT EXISTS "Estagios" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Estagios" PRIMARY KEY AUTOINCREMENT,

    "DescricaoEstagio" TEXT NULL,

    "Valor" TEXT NULL,

    "Periodo" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Investimentos" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Investimentos" PRIMARY KEY AUTOINCREMENT,

    "DescricaoInvestimento" TEXT NULL,

    "Valor" TEXT NULL,

    "Periodo" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "Repasses" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Repasses" PRIMARY KEY AUTOINCREMENT,

    "NomeLote" TEXT NULL,

    "ValorRepasse" TEXT NULL,

    "Periodo" TEXT NULL,

    "Valor" TEXT NULL,

    "Status" TEXT NULL,

    "Delay" TEXT NULL,

    "DataPagamento" TEXT NOT NULL,

    "ValorInformado" TEXT NULL

);
